.kaufman {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}